<ion-app>
  <ion-menu menuId="main-menu" side="start" contentId="main">
    <ion-content>
      <div class="menu-header-bg">

      </div>
      <div class="header-content">
        <img src="https://media.licdn.com/dms/image/D4D03AQH8vQ0N_M_ctA/profile-displayphoto-shrink_800_800/0/1675624392370?e=1718236800&v=beta&t=aMO3kpg4yH1bhNLPMnfaSfzSdNqjCqZwzMahwox27Iw" alt="">
        <ion-label>
          <h2>Ranyel Moraes</h2>
          <p>Engenheiro de Software</p>
        </ion-label>
      </div>
      <div class="action-button">
        <ion-button>
          <ion-icon slot="start" name="add"> </ion-icon> Adicionar Carro
        </ion-button>
      </div>
      <ion-list class="menu-items" lines="none">
        <ion-item>
          <ion-icon name="car-sport-outline"></ion-icon> Cadastrar Cliente
        </ion-item>
        <ion-item>
          <ion-icon name="car-sport-outline"></ion-icon> Consultar Clientes
        </ion-item>
        <ion-item>
          <ion-icon name="car-sport-outline"></ion-icon> Adicionar Carro
        </ion-item>
        <ion-item>
          <ion-icon name="car-sport-outline"></ion-icon> Consultar Carros
        </ion-item>
        <ion-item>
          <ion-icon name="car-sport-outline"></ion-icon> Consultar Carros
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>